#fixed-header{
	height: 100px;
	position: fixed;
	/*background:cover;*/
	width: 100%;
	z-index: 10;

}

#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 900px;
	position: fixed;
	/*top:10%;*/
	background: url(../images/mountain.png);
	background-size: cover;
	font-size: 40px;
}

#banner h1 {
	font-size: 100px;
}

#content{
	width: 100%;
	position: relative;
	top:900px;
	/*background: url(../images/blueback.png);*/
	/*background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);*/
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
	/*height: 100%;*/
	z-index: 10;
}