#fixed-header{
	height: 100px;
	position: fixed;
	/*background:cover;*/
	width: 100%;
	z-index: 10;

}

#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 900px;
	position: fixed;
	top:10%;
	background: url(../images/mountain.png);
	background-size: cover;
	font-size: 40px;
}

#banner h2 {
	padding-top: 0px;
	margin-top: 0px;
}

#content{
	width: 100%;
	position: relative;
	top:900px;
	/*background: url(../images/blueback.png);*/
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 	background-blend-mode: multiply,multiply;
	/*height: 100%;*/
	z-index: 10;
}