 html{
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*background: url(../images/blueback.png);*/
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 	background-blend-mode: multiply,multiply;
}

body{
	display: flex;
	flex-direction: row;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	position: absolute;
	/*background: url(../images/blueback.png);*/
	color:white;
	max-width: 100%;
	text-align: center;

}
a:visited{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}

.main{
	display: none;
	position: relative;
	animation-name: main;
	animation-duration: 2s;
	height: 100%;
}

.mainSlide{
	animation-name: mainSlide;
	animation-duration: 2s;
}

.all{
	position: relative;
	animation-name: main;
	animation-duration: 2s;
}

#header{
	display: flex;
	position: fixed;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 10%;
	font-size: 20px;
}
#header p {
	display: flex;
	max-width: 250px;
	width: 200px;
	justify-content: center;
	text-align: center;
}

#header a {
	color: white;
	/*-webkit-text-stroke: 0.5px #000000;*/
	/*-webkit-text-fill-color: #FFFFFF;*/
	padding-right: 30px;
	padding-left: 30px;
}
#header a:visited {
	color: white;
	/*-webkit-text-stroke: 0.5px #000000;*/
	/*-webkit-text-fill-color: #FFFFFF;*/
	padding-right: 30px;
	padding-left: 30px;
}
#header a:focus {
	color: white;
	/*-webkit-text-stroke: 0.5px #000000;*/
	/*-webkit-text-fill-color: #FFFFFF;*/
	padding-right: 30px;
	padding-left: 30px;
}
#header a:hover {
	color: white;
	/*-webkit-text-stroke: 0.5px #000000;*/
	/*-webkit-text-fill-color: #FFFFFF;*/
	padding-right: 30px;
	padding-left: 30px;
}

.home{
	display: flex;
	flex-direction: row;
	z-index: 20;
}

.dwnArrow{
	width: 12px;
	height: 12px;		
	border-left: 3px solid white;
	border-bottom:3px solid white;
	transform: rotate(-45deg);
	animation: dwnArrow 2s infinite;
	/*animation-duration: infinite;*/
}

.nav{
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	align-items: center;
	width: 700px;
	transition: all 2s ease;
	height: 100%;
}

.nav .menu-ani{
	position:relative;
	display: none;
	width: 
	/*top:400px;
	left:200px;*/
}

.nav:hover > .menu-ani {
	position: relative;
	display: unset;
}

.nav:hover > .menu-uno{
	animation-name: menu-uno;
	animation-duration: 1s;
}

.nav:hover > .menu-dos{
	animation-name: menu-dos;
	animation-duration: 2s;
}

.nav:hover > .menu-tres{
	animation-name: menu-tres;
	animation-duration: 3s;
}

.nav:hover > .menu {
	opacity:0;
}

.menu{
	opacity: 1;
}

@keyframes menu-uno {
	0%{
		opacity:0;
		top:300px;
	}

	100%{
		opacity: 1;
		top:0px;
	}
}

@keyframes menu-dos {
	0%{
		opacity:0;
		top:300px;
	}

	100%{
		opacity: 1;
		top:0px;
	}
}

@keyframes menu-tres {
	0%{
		opacity:0;
		top:300px;
	}

	100%{
		opacity: 1;
		top:0px;
	}
}

.nav-header{
	position:fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	top:0px;
	width:100%;
	height:50px;
	font-size: 18px;
	z-index: 21;
}

#sect-one{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 800px;
	/*background: linear-gradient(to right, #eef2f3 , #004e92);*/

}

.hi{
	font-size: 50px;
	width: 1000px;
/*	-webkit-text-stroke: 0.5px #000000;
	-webkit-text-fill-color: #FFFFFF;*/
}

.sect-one-left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding:30px;
	width: 50%;
	height: 740px;
	/*background: url(../images/blueback.png);*/
}

.list{
	width:100%;
	height: 100%;
}

.sect-one-left div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding:30px;
	width: 100a%;
	height: 740px;
	-webkit-text-stroke: 1.0px #000000;
	-webkit-text-fill-color: #FFFFFF;
	font-size: 20px;
}

.sect-one-right{
	display: flex;
	align-items: center;
	background-image: url(../images/wedding.png);
	background-repeat: no-repeat;
	overflow-y: hidden;
	height: 800px;
	width: 50%;	
}

.mission{
	font-size: 30px;
	line-height: 200%;
	-webkit-text-stroke: 1.0px #000000;
	-webkit-text-fill-color: #FFFFFF;
	padding: 30px;
}

.dev{
	position: relative;
	animation-name:dev ;
	animation-duration: 3s;
	animation-delay:0s;
}
.school{
	position: relative;
	animation-name:school ;
	animation-duration: 3s;
	/*animation-delay:1s;*/
}
.camp{
	position: relative;
	animation-name:camp ;
	animation-duration: 3s;
	/*animation-delay:2s;*/
}
.future{
	position: relative;
	animation-name:future;
	animation-duration: 3s;
	/*animation-delay:3s;*/
}

#sect-two{
	/*background: linear-gradient(to right, #eef2f3 , #004e92)!important;*/
}

#experience{
	padding-top: 30px;
	margin-top: 0px;
	text-align: center;
	font-size: 60px;
	/*height: 500px;*/
}

#sect-three{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	/*background: linear-gradient( to right, #eef2f3 , #004e92);*/
	height: 400px;
	text-align: center;
}

.contact-me{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: black;
}

.contact-me div{
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}

#sect-three h1{
	font-size: 40px;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.email-me{
	border: 1px solid black;
	padding: 20px;
	border-radius: 15px;
	width: 100px;
	transition: all .5s;
}

.email-me:hover{
	border: 1px solid white;
	padding: 20px;
	border-radius: 15px;
	width: 100px;
	color: white;
	transition: all .5s;
}