#sect-two p {
	margin:0px;
	padding:0px;
	}
.git-repo{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.git-repo h2{
	width: 100% !important;
	padding-top: 50px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-color: lightgrey;
}

.git-examples{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	height: 600px;
	width: 100%;
}

.ex2{
	background-color: lightgrey;
}

.gitpics{
	width: 400px;
	height: 400px;
	box-shadow: 1px 1px 1px 1px grey;
	margin:15px;
}
.gitpics:hover{
	width: 500px;
	height: 500px;
	background-size: 500px 500px;
	transition: all 2s;
}


.redux{
	background-image: url("../images/Reduxtagram.png");
	background-size: 400px 400px;
	background-position: center;
	background-repeat: no-repeat;
}

.git-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*height: 600px;*/
}

.more-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.splur{
	width: 500px;
	font-size: 20px;
	padding-bottom: 50px;
	color: black;
}

.more-info a {
	color: grey;
	padding-top: 20px;
}
.splur a :visited{
	color: grey;
	padding-top: 20px;
}
.splur a :hover{
	color: grey;
	padding-top: 20px;
}
.splur a :focus{
	color: grey;
	padding-top: 20px;
}


.React-tac-toe{
	background-image: url("../images/React-tac-toe.png");
	background-size: 400px 400px;
	background-position: center;
	background-repeat: no-repeat;
}

.Datenight{
	background-image: url("../images/Someone-to-love.png");
	background-size: 400px 400px;
	background-repeat: no-repeat;
	background-position: center;
}

.gitAni1{
	position: relative;
	animation-name: slideUno;
	animation-duration: 3s;
}

.gitAni2{
	position: relative;
	animation-name: slideDos;
	animation-duration: 3s;
}

.css3{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:200px;
	margin:0px;
	width: 30px;
}
.js{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:180px;
	margin:0px;
	width: 30px;
}

.jquery{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:180px;
	margin:0px;
	width: 30px;
}
.node{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:75px;
	margin:0px;
	width: 30px;
}
.oop{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:75px;
	margin:0px;
	width: 30px;
}
.ajax{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:90px;
	margin:0px;
	width: 30px;
}
.test{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:90px;
	margin:0px;
	width: 30px;
}
.github{
	border:1px solid grey;
	border-radius: 5px;
	background-color: grey;
	height:90px;
	margin:0px;
	width: 30px;
}

.upDown1{
	animation-name: upDown1;
	animation-duration: 5s;
}

.upDown2{
	animation-name: upDown2;
	animation-duration: 5s;
}

.ironyard{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-size: 20px;
}


.iron{
	width: 1000px;
}